

body {
	font-family: "proxima-nova", verdana, arial, helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

h2, h3, h4, h5, h6, p {
	font-family: "proxima-nova", verdana, arial, helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

input, textarea, select, a { outline-color: transparent;
  outline-style: none; }

.intro {
	background: image-url("intro-cover.png") no-repeat center center;
	 -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 560px;
	color: #fff;
	position: relative;

	.contact {
		padding: 25px;

		p {
			float:right;
			font-weight: 400;
			font-size: 17px;
		}

		p:first-child {
			padding-left: 40px;
		}
	}

	.logo {
		width:auto;
		height: auto;
		display: block;
		margin: 16% auto 0 auto;
	}

	.newsletter {
		height: auto;
		width: 100%;
		background-color: rgba(41, 43, 51, 0.4);
		position: absolute;
		bottom: 0;
		left: 0;
		padding-bottom: 20px;

		.text {
			font-weight: 400;
			font-size: 18;
			float: left;
			margin-top: 42px;
		}

		.email-input {

			.email-icon {
				float: left;
				background: image-url("email-icon.png") no-repeat center center;
				margin-top: 36px;
				height: 38px;
				background-color: #FFF;
				width: 50px;
				$br: 3px;
				-webkit-border-top-left-radius: $br; 
 				-moz-border-top-left-radius: $br; 
  				border-top-left-radius: $br; 
  				-webkit-border-bottom-left-radius: $br; 
 				-moz-border-bottom-left-radius: $br;
  				border-bottom-left-radius: $br; 
  				border: none;
			}
			input {
				width: 54%;
				height: 38px;
				float: left;
				margin-top: 36px;
				webkit-box-shadow: none;
				box-shadow: none;
				border: none;
				color: #4a4a4a;
				font-weight: 400;

			}	

			.button-blue:hover {
				background-color: darken(#25a6e9, 6%);
			}
	
	
			.button-blue{
				margin-top: 36px;
				float: left; 
				height: 38px;
				width: 106px;
				color: #fff;
				background-color: #25a6e9;
				padding: 13px 0 10px 0;
				$br: 3px;
				-webkit-border-top-right-radius: $br; 
 				-moz-border-top-right-radius: $br; 
  				border-top-right-radius: $br; 
  				-webkit-border-bottom-right-radius: $br; 
 				-moz-border-bottom-right-radius: $br;
  				border-bottom-right-radius: $br; 
  				text-align: center;
  				font-weight: 600;
				font-size: 15px;
				letter-spacing: .03em;
				text-shadow: 1px 1px rgba(41, 43, 51, 0.1);
				cursor: pointer;
			}
	
		}

		
	}
}

.representing {
	height: 780px;

	h2 {
		color: #4a4a4a;
		font-size: 42px;
		padding-bottom: 45px;
		padding-top: 75px;
		border-bottom: 1px solid #c4c4c4;
		width: 100%;
		font-weight: 300;
		text-align: center;
	}

	.company-logo {
		width: auto;
		margin: 0 auto 0 auto;
		margin-top: 60px;
		text-align: center;

		:hover img {
		  opacity: .8;
		  -ms-filter: "alpha(opacity=80)";
		  filter: alpha(opacity=80)
		}

	}

	.orion {
		margin-top: 20px;
	}

	.eastech {
		margin-top: 60px;
	}
}


.contact-area {
	background: image-url("footer-cover.png") repeat-y center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: auto;
	padding-top: 100px;
	color: #fff;

	h2, h3, p {
		color: #fff;
	}

	h2 {
		font-weight: 400;
		font-size: 39px;
		margin-top: 80px;
	}

	h3 {
		border-bottom: 1px solid #fff;
		width: 90%;
		padding-bottom: 10px;
	}

	.contact-box {
		height: 130px;
	}

	.copyright p {
		float: right;
		margin-top: 40px;
		font-size: 14px;
	}
}


@media all and (max-width: 765px) and (min-width: 300px) {
  .contact-area {
  	padding-top: 50px;

  	h2 {
  		margin-top: 0px;
  	}
  }

  .intro .newsletter .text {
  	text-align: center;
  }

  .intro .newsletter .email-input {

		.email-icon {
			margin-top: 10px;
		}
	
		input {
			margin-top: 10px;
		}

		.button-blue{
			margin-top: 10px;

		}
	}
}

@media all and (max-width: 405px) {
	.intro .newsletter {
		padding-bottom: 50px;
	}
	.intro .newsletter .email-input {

		.email-icon {
			width: 14%;
			margin-top: 5px;
		}
	
		input {
			margin-top: 5px;
			width: 85%;
			$br: 3px;
			-webkit-border-top-right-radius: $br; 
 			-moz-border-top-right-radius: $br; 
  			border-top-right-radius: $br; 
  			-webkit-border-bottom-right-radius: $br; 
 			-moz-border-bottom-right-radius: $br;
  			border-bottom-right-radius: $br; 
		}

		.button-blue{
			margin-top: 5px;
			margin: 5px auto 0 auto;
			width: 99%;
			$br: 3px;
			-webkit-border-radius: $br; 
 			-moz-border-radius: $br; 
  			border-top-radius: $br; 
		}
	}


}



